* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    list-style: none;
    box-sizing: border-box;
    letter-spacing: 0.02em;
    word-spacing: 0.05em;
}

:root {
    --bg-color: rgb(255, 250, 250);
    --text-color: rgb(53, 47, 54);
    --btn-height: 2.5rem;
}

.page-title {
    font-size: 4rem;
    font-weight: bold;
    color: #0a6bff;

}

.icon-title {
    color: black;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 2rem 0 2rem;
    font-size: 1.5rem;
}

body {
    color: #2e2e2e;
    text-align: center;
    display: flex;
    margin-top: 2rem;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
    height: 100vh;
    overflow: hidden;
}

.btn {
    height: var(--btn-height);
    width: 10rem;
    background-color: #0a6bff;
    color: var(--bg-color);
    border: 1px solid var(--btn-text-color);
    font-weight: 500;
    font-size: 1rem;
    display: inline-flex;
    justify-content: center;
    gap: 1rem;
    cursor: pointer;
    align-items: center;
    border-radius: 0.25rem;
    box-shadow: rgba(1,60,136,.5) 0 -1px 3px 0 inset,rgba(0,44,97,.1) 0 3px 6px 0;
}



.btn:hover {
  background-color: #065dd8;
}

@media (min-width: 768px) {
  .button-66 {
    padding: 16px 44px;
    min-width: 150px;
  }
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}
.form-info {
    display: flex;
    gap: 1rem;
    font-size: 0.8rem;
    align-items: center;
    justify-content: center
}

.form-info span {
    font-weight: bold;
}

.file-container {
    display: flex;
    width: 100%;
    outline: 1px solid #2e2e2e;
    outline-offset: -1px;
    border-radius: 25px 0px 0px 25px;
}

header {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.sub-title {
    font-weight: 400;
    font-size: 1rem;
}

.page-subtitle {
    font-size: 2rem;
    font-weight: bold;
    color: #0a6bff;
}

.form-options-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


.drop-zone {
    margin-top: 2rem;
    width: 50%;
    height: 20rem;
    outline: 2px solid var(--text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    outline: 1px black dashed;
    background-color: var(--bg-color);
    padding: 2rem;
    border-radius: 0.25rem;
}

@media (max-width: 620px) {
    .file-container {
        border-radius: 0px;
        width: 20rem;
    }

    .btn {
        border-radius: 0px;
    }
}

.form-options {
    display: flex;
    gap: 0.5rem;
}

.wave-text span {
    animation: fadein 0.01s ease forwards;
    opacity: 0;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}